<div class="modulo">
  <div class="head-modulo">
    <app-head title="Create Attribute" heading="3"></app-head>
  </div>
</div>
<!-- #form -->
<div class="modulo">
  <div class="head-modulo">
    <app-head title="Basic Information" heading="3"></app-head>
  </div>
  <div class="body-modulo">
    <form class="form-io custom-form-io">
      <div class="inputs-group">
        <div class="group-wrapper-input inline">
          <div class="wrapper-input">
            <label class="title">Attribute Name</label>
            <div class="input-component fill-solid size-xl  label-static ">
              <input type="text">
            </div>
          </div>
          <div class="wrapper-input">
            <label class="title">Type Attribute</label>
            <div class="input-component fill-solid size-xl  label-static ">
              <ion-select toggleIcon="caret-down-sharp" interface="popover" label="Type:" placeholder="">
                <ion-select-option value="apples">Common Attribute</ion-select-option>
                <ion-select-option value="apples">Parent Attribute</ion-select-option>
                <ion-select-option value="oranges">Child Attibute</ion-select-option>
              </ion-select>
            </div>

          </div>
        </div>
        <div class="wrapper-input">
          <label class="title">Description</label>
          <div class="input-component fill-solid">
            <textarea class="fill-solid" name="comentarios" rows="4" cols="50"></textarea>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
<!-- #settings -->
<div class="modulo">
  <div class="head-modulo">
    <app-head title="Attribute Settings" heading="3"></app-head>
  </div>
  <div class="body-modulo">
    <ion-list lines="none">
      <ion-item>
        <ion-icon class="icon-primary" aria-hidden="true" name="folder-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Parent Attribute</h3>
          <p>none Top-level category</p>
        </ion-label>
        <ion-select label=" " placeholder="Select">
          <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item button>
        <ion-icon class="icon-primary" aria-hidden="true" name="apps-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Category Icon</h3>
          <p>Choosen an icon for this category</p>
        </ion-label>
        <ion-icon aria-hidden="true" name="pencil-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon class="icon-primary" aria-hidden="true" name="toggle-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Active Status</h3>
          <p>Category will be visible to users</p>
        </ion-label>
        <ion-toggle slot="end"> </ion-toggle>
      </ion-item>
    </ion-list>
  </div>
</div>
<!-- #Types -->
<div class="modulo">
  <div class="head-modulo">
    <app-head title="Attribute Type" heading="3"></app-head>
  </div>
  <div class="body-modulo">
    <ion-list lines="none">
      <ion-item>
        <ion-icon class="icon-primary" aria-hidden="true" name="text-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Text</h3>
          <p>Single line of text</p>
        </ion-label>
        <ion-toggle slot="end"> </ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon class="icon-primary" aria-hidden="true" name="grid-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Predifined type</h3>
          <p>Choose from predefind options</p>
        </ion-label>
        <ion-toggle slot="end"> </ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon class="icon-primary" aria-hidden="true" name="list-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Number</h3>
          <p>Numeric values only</p>
        </ion-label>
        <ion-toggle slot="end"> </ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon class="icon-primary" aria-hidden="true" name="toggle-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Boolean</h3>
          <p>Only True o False</p>
        </ion-label>
        <ion-toggle slot="end"> </ion-toggle>
      </ion-item>
    </ion-list>
  </div>
</div>
<!-- #options -->
<div class="modulo">
  <div class="head-modulo">
    <app-head title="Options" heading="3"></app-head>
  </div>
  <div class="body-modulo">
    <ion-list lines="none">
      <ion-item>
        <ion-icon class="icon-primary" aria-hidden="true" name="warning-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Required field</h3>
          <p>Make this attibute mandatory</p>
        </ion-label>
        <ion-toggle slot="end"> </ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon class="icon-primary" aria-hidden="true" name="filter-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Filterable</h3>
          <p>Allow filtering by this attribute</p>
        </ion-label>
        <ion-toggle slot="end"> </ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon class="icon-primary" aria-hidden="true" name="eye-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Display in produc list</h3>
          <p>Show in product listing</p>
        </ion-label>
        <ion-toggle slot="end"> </ion-toggle>
      </ion-item>
    </ion-list>
    <div class="buttons-section-common button-inline-end">
      <!-- <ion-button class="bt-io fill-outline-primary size-m txt-sz-m  expand-content">Cancel</ion-button> -->
      <ion-button class="bt-io fill-solid-xprimary size-m txt-sz-m expand-content">Save Attribute</ion-button>
    </div>
  </div>
</div>