<div class="container pdd-x-2 pdd-y-2 gap-3">
  <ng-container *ngIf="data; else available">
    <app-head class="title-container" title="All Categories" heading="2"></app-head>
    <!-- #search -->
    <div class="modulo">
      <div class="body-modulo custom-search-button">
        <div class="search-section">
          <div class="input-component fill-clear">
            <ion-searchbar show-cancel-button="never" placeholder="Buscar Categoria"></ion-searchbar>
          </div>
        </div>
        <div class="buttons-section-common button-double">
          <ion-button class="bt-io size-m txt-sz-l expand-content" (click)="onLoadComponent('newCategory')">Add New Category</ion-button>
        </div>
      </div>
    </div>
    <!-- #items -->
    <div class="modulo">
      <div class="body-modulo">
        <div class="segment-section">
          <ion-segment value="default">
            <ion-segment-button value="default">
              <ion-label>Todas</ion-label>
            </ion-segment-button>
            <!-- <ion-segment-button value="active">
              <ion-label>Active</ion-label>
            </ion-segment-button>
            <ion-segment-button value="inactive">
              <ion-label>Inactive</ion-label>
            </ion-segment-button> -->
          </ion-segment>
        </div>
        <div class="items-section">
          <ion-list *ngFor="let item of data">
            <ion-item>
              <ion-icon aria-hidden="true" name="bookmark-outline" slot="start"></ion-icon>
              <ion-label>{{item.value.label}}</ion-label>
              <ion-label>{{item.value.nodes>0? item.values.nodes +'nodes' : 'no nodes'}}</ion-label>
              <ion-label>{{item.value.status ? 'Active' : 'NoActive'}}</ion-label>
              <ion-button class="bt-icon size-s fill-clear" slot="end" (click)="onLoadComponent('categoryDetails',item.value.id)" >
                <ion-icon name="eye-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </div>
        <div class="buttons-section-common button-double">
          <ion-button class="bt-io fill-outline-primary size-m txt-sz-l">Load More</ion-button>
          <span>showing 6 of 23 categories</span>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<!-- #no data -->
<ng-template #available>
  <div class="modulo custom-modulo-center">
    <div class="body-modulo">
      <div class="box-overview-component custom-box-empty">
        <ion-icon aria-hidden="true" name="alert-circle-outline"></ion-icon>
        <span class="text-primary">Aun No Hay Categorias</span>
        <span class="text-secondary">¿Deseas crear una categoria?</span>
        <ion-button class="bt-io size-m txt-sz-m expand-content">Crear Categoria</ion-button>
      </div>
    </div>
  </div>
</ng-template>