<ion-split-pane when="xs" contentId="main">
  <ion-menu contentId="main" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>Categorias</ion-list-header>
        <ion-note></ion-note>

        @for (p of appPages; track p; let i = $index) {
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" detail="false" (click)="loadComponent(p.id)" button>
            <!-- <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
            routerLinkActive="selected"> -->
            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        }
      </ion-list>

      <!-- <ion-list id="labels-list">
        <ion-list-header>Categorias</ion-list-header>
        @for (label of labels; track label) {
        <ion-item lines="none">
          <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
          <ion-label>{{ label }}</ion-label>
        </ion-item>
        }
      </ion-list> -->
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main">
    <ion-header class="header-main">
      <ion-toolbar>
        <ion-title>{{ folder }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content [fullscreen]="true">
      <ng-container *ngComponentOutlet="currentComponent"></ng-container>
    </ion-content>
  </div>
</ion-split-pane>

<!-- 
 <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container bg-gray implement-full">
    <div class="modulo type-card modulo-auth">
      <div class="body-modulo">
        <form class="form-io" [formGroup]="newCategoryFm"   *ngIf="step==1">
          <fieldset>
            <div class="head-form">
              <app-head title="Categoria Principal" subtitle="Categoria de nivel 1" heading="3"></app-head>
            </div>
            <div class="body-form">
              <div class="inputs-group">
                <div class="input-component fill-solid size-xl  label-static ">
                  <input type="text" formControlName="category" />
                </div>
                <div class="buttons-section-common button-double">
                  <ion-button type="ngSubmit" class="bt-io fill-clear txt-color-primary size-m txt-sz-l expand-content"
                    type="ngSubmit">Guardar</ion-button>
                  <ion-button class="bt-io fill-clear txt-color-primary size-m txt-sz-l expand-content"
                  (click)="createCategory(newCategoryFm, true)">Agregar subcategorias</ion-button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
        <form class="form-io" [formGroup]="newSubCategFm"   *ngIf="step==2">
        <fieldset>
          <div class="head-form">
            <app-head title='Agregar Subcategorias a "{{newCateg}}"' subtitle="Categorias de nivel 2" heading="3"></app-head>
          </div>
          <div class="body-form">
            <div class="inputs-group">
              <div class="input-component fill-solid size-xl  label-static ">
                <input type="text" formControlName="subcategory" />
                <label>SubCategoria</label>
              </div>
              <div class="input-component fill-solid size-xl  label-static ">
                <input type="text" formControlName="label" />
                <label>Etiqueta</label>
              </div>
              <div class="buttons-section-common button-double">
                <ion-button class="bt-io fill-clear size-m txt-sz-l txt-color-primary expand-content"
                  (click)="createSubCateg(newSubCategFm,newCateg)">Agregar </ion-button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      </div>
    </div>
  </div>
</ion-content>
-->
