<div class="container pdd-x-2 pdd-y-2 gap-3">
  <app-head class="title-container" title="{{nodeType=='root'? 'Crear Categoria' : 'Crear Subcategoria'}}" heading="2"></app-head>
  <form class="form-io custom-form-io" [formGroup]="formData" (ngSubmit)="onSubmit(formData)">
    <!-- #region - Info parents ONLY CHILD -->
    <div class="modulo" *ngIf="nodeType!='root'">
      <div class="head-modulo">
        <app-head title="Parents Nodes" heading="3"></app-head>
      </div>
      <div class="body-modulo">
        <ion-list>
          <ion-item>
            <ion-icon aria-hidden="true" name="bookmark-outline" slot="start"></ion-icon>
            <ion-label>
              {{ rootNode?.label}}
            </ion-label>
            <ion-label>
              <p>Root Node</p>
            </ion-label>
            <ion-button class="bt-icon size-s fill-clear" sloe="end">
              <ion-icon name="settings-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon aria-hidden="true" name="git-commit-outline" slot="start"></ion-icon>
            <ion-label>
              {{ parentNode?.label}}
            </ion-label>
            <ion-label>
              <p>Parent Node</p>
            </ion-label>
            <ion-button class="bt-icon size-s fill-clear" sloe="end">
              <ion-icon name="settings-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <!-- #endregion -->
    <!-- #region - Form -->
    <div class="modulo">
      <div class="head-modulo">
        <app-head title="Informacion Basica" heading="3"></app-head>
      </div>
      <div class="body-modulo">
        <div class="inputs-group">
          <div class="wrapper-inputs-group inline" >
            <div class="wrapper-input expand-regular" *ngIf="nodeType!='root'">
              <label class="title">Tipo de Nodo</label>
              <div class="input-component fill-solid size-xl  label-static ">
                <ion-select value="child" (ionChange)="handlerOption($event,'nodetype')">
                  <ion-select-option value="child">child</ion-select-option>
                  <ion-select-option value="leaf">leaf</ion-select-option>
                </ion-select>
              </div>
            </div>
            <div class="wrapper-input expand-full">
              <label class="title">Identificador ID</label>
              <div class="input-component fill-solid size-xl  label-static ">
                <input type="text" formControlName="id">
              </div>
            </div>
          </div>

          <div class="wrapper-input">
            <label class="title">Etiqueta Publica</label>
            <div class="input-component fill-solid size-xl  label-static ">
              <input type="text" formControlName="label">
            </div>
          </div>
          <div class="wrapper-input">
            <label class="title">Descripción</label>
            <div class="input-component fill-solid">
              <textarea class="fill-solid" name="comentarios" rows="4" cols="50"
                formControlName="description"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #endregion -->
    <!-- #region - Category settings -->
    <div class="modulo">
      <div class="head-modulo">
        <app-head title="Configuración de la Categoria" heading="3"></app-head>
      </div>
      <div class="body-modulo">
        <ion-list lines="none">
          <ion-item>
            <ion-icon class="icon-primary" aria-hidden="true" name="eye-outline" slot="start"></ion-icon>
            <ion-toggle (ionChange)="handlerOption($event,'status')" [checked]="formData.get('status')?.value"
              justify="space-between">
              <ion-label>
                <h3>Status Active</h3>
                <p>La categoría es visible para los usuarios</p>
              </ion-label></ion-toggle>
          </ion-item>

        </ion-list>
      </div>
    </div>
    <!-- #endregion -->
    <!-- #region - Display options -->
    <div class="modulo">
      <div class="head-modulo">
        <app-head title="Display Options" heading="3"></app-head>
      </div>
      <div class="body-modulo">
        <ion-list lines="none">
          <ion-item>
            <ion-icon class="icon-primary" aria-hidden="true" name="reorder-three-outline" slot="start"></ion-icon>
            <ion-toggle (ionChange)="handlerOption($event,'display')" [checked]="formData.get('display')?.value"
              justify="space-between">
              <ion-label>
                <h3>Display</h3>
                <p>Visualización en el menú de navegación principal</p>
              </ion-label>
            </ion-toggle>
          </ion-item>
          <ion-item>
            <ion-icon class="icon-primary" aria-hidden="true" name="star-outline" slot="start"></ion-icon>
            <ion-toggle (ionChange)="handlerOption($event,'higlight')" [checked]="this.formData.get('highlight')?.value"
              justify="space-between">
              <ion-label>
                <h3>highlight</h3>
                <p>Destacar en el dashboard y en los listados</p>
              </ion-label>
            </ion-toggle>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <!-- #endregion -->
    <!-- #region - Attributes ONLY LEAF-->
    <div class="modulo" *ngIf="nodeType=='leaf'">
      <div class="head-modulo">
        <app-head title="Attributes" heading="3"></app-head>
      </div>
      <div class="body-modulo">
        <ion-list lines="none">
          <ion-item>
            <ion-icon class="icon-primary" aria-hidden="true" name="add-circle-outline" slot="start"></ion-icon>
            <ion-toggle [checked]="attributeFlag" (ionChange)="handlerOption($event, 'attribute')">
              <ion-label>
                <h3>Attributes</h3>
                <p>Add attributes to node(subcategory)</p>
              </ion-label></ion-toggle>
          </ion-item>
        </ion-list>

      </div>
      <div class="body-modulo custom-modulo-attribute" *ngIf="attributeFlag">
        <!-- <app-defined-attributes></app-defined-attributes> -->
        <div class="segment-section">
          <ion-segment class="segment expand-full" value="default">
            <ion-segment-button value="default" content-id="definedAttr">
              <ion-label> Predefined Attributes</ion-label>
            </ion-segment-button>
            <ion-segment-button value="active" content-id="customAttr">
              <ion-label>Create Attribute</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <div class="segment-content">
          <ion-segment-view>
            <ion-segment-content
              id="definedAttr"><app-defined-attributes></app-defined-attributes></ion-segment-content>
            <ion-segment-content id="customAttr"><app-custom-attributes></app-custom-attributes></ion-segment-content>
          </ion-segment-view>
        </div>
      </div>
    </div>
    <!-- #endregion -->
    <!-- #region - Buttons -->
    <div class="buttons-section-common button-double custom-buttons-section">
      <div class="wrapper-buttons">
        <ion-button class="bt-io size-m txt-sz-m  expand-content custom-button-third">Cancel</ion-button>
        <ion-button type="submit" class="bt-io size-m txt-sz-m expand-content custom-button-primary">Create
          Category</ion-button>
      </div>
    </div>
    <!-- #endregion -->
  </form>
</div>