<div class="container pdd-x-2 pdd-y-2 gap-3">
  <app-head class="title-container" title="Edit Category"></app-head>
  <!-- #box-overview -->
  <div class="modulo">
    <div class="body-modulo custom-box-overview">
      <div class="box-overview-component">
        <ion-icon name="add-outline"></ion-icon>
        <span class="text-primary">PRODUCTS</span>
        <span class="text-main">15</span>
        <span class="text-secondary">
          Total products
        </span>
      </div>
      <div class="box-overview-component">
        <ion-icon name="add-outline"></ion-icon>
        <span class="text-primary">STRUCTURE</span>
        <span class="text-main">4</span>
        <span class="text-secondary">
          Subcategories
        </span>
      </div>
      <div class="box-overview-component">
        <ion-icon name="add-outline"></ion-icon>
        <span class="text-primary">STATUS</span>
        <span class="text-main">Active</span>
        <span class="text-secondary">
          Last Update
        </span>
      </div>
    </div>
  </div>
  <!-- #form -->
  <div class="modulo">
    <!-- <div class="head-modulo">
    <app-head title="Basic Information" heading="3"></app-head>
  </div> -->
    <div class="body-modulo">
      <form class="form-io custom-form-io">
        <div class="inputs-group">
          <div class="group-wrapper-input inline">
            <div class="wrapper-input">
              <label class="title">Attribute Name</label>
              <div class="input-component fill-solid size-xl  label-static ">
                <input type="text" placeholder="My-Category">
              </div>
            </div>
            <div class="wrapper-input">
              <label class="title">Type Parent</label>
              <div class="input-component fill-solid size-xl  label-static ">
                <ion-select toggleIcon="caret-down-sharp" interface="popover" label="Type: Nivel 3" disabled="true"
                  placeholder="Node">
                  <ion-select-option value="apples">Parent Root</ion-select-option>
                  <ion-select-option value="oranges">Node</ion-select-option>
                </ion-select>
              </div>

            </div>
          </div>
          <div class="wrapper-input">
            <label class="title">Description</label>
            <div class="input-component fill-solid">
              <textarea class="fill-solid" name="comentarios" rows="4" cols="50"></textarea>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
  <!-- #Attributes -->
  <div class="modulo">
    <div class="head-modulo">
      <app-head title="Category Attributes" heading="3"></app-head>
    </div>
    <div class="body-modulo">
      <ion-list>
        <ion-item>
          <ion-icon aria-hidden="true" name="color-palette-outline" slot="start"></ion-icon>
          <ion-label>Color</ion-label>
          <ion-label>Required</ion-label>
          <ion-button class="bt-icon fill-clear size-s">
            <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
          </ion-button>
          <ion-button class="bt-icon fill-clear size-s">
            <ion-icon aria-hidden="true" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="calendar-outline" slot="start"></ion-icon>
          <ion-label>Create Date</ion-label>
          <ion-label>16 subcategories</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="person-outline" slot="start"></ion-icon>
          <ion-label>Created By</ion-label>
          <ion-label>Bluetooth</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="eye-outline" slot="start"></ion-icon>
          <ion-label>Status</ion-label>
          <ion-label>Public</ion-label>
        </ion-item>
      </ion-list>
      <div class="buttons-section-common button-double">
        <ion-button class="bt-io  size-m txt-sz-m  expand-content">Add Attributes</ion-button>
      </div>
    </div>
  </div>
  <!-- # subcategories-->
  <div class="modulo">
    <div class="head-modulo">
      <app-head title="Subcategories" heading="3"></app-head>
    </div>
    <div class="body-modulo">
      <ion-list lines="none">
        <ion-item>
          <ion-icon class="icon-primary" aria-hidden="true" name="reorder-three-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Computers</h3>
            <p>Parent: Tecnologia | children: 5</p>
          </ion-label>
          <ion-button class="bt-icon size-m fill-clear">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-button>
          <!-- <ion-button class="bt-icon size-s fill-clear">
            <ion-icon name="eye-outline"></ion-icon>
          </ion-button> -->
          <ion-toggle slot="end"> </ion-toggle>
        </ion-item>
        <ion-item>
          <ion-icon class="icon-primary" aria-hidden="true" name="star-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Feature Category</h3>
            <p>Highlight on dashboard and listings</p>
          </ion-label>
          <ion-toggle slot="end"> </ion-toggle>
        </ion-item>
      </ion-list>
    </div>
  </div>
 <!-- #buttons -->
 <div class="modulo">
  <div class="body-modulo">
    <div class="buttons-section-common button-double">
      <ion-button class="bt-io fill-solid-warning">Delete</ion-button>
      <div class="wrapper-buttons">
        <ion-button class="bt-io size-m txt-sz-m expand-content">Save Changes</ion-button>
        <ion-button class="bt-io fill-outline-primary size-m txt-sz-m  expand-content">Cancel</ion-button>
      </div>
    </div>
  </div>
</div>
</div>