<div class="container pdd-x-2 pdd-y-2 gap-3">
  <!-- #Overview -->
  <div class="modulo">
    <div class="head-modulo">
      <app-head title="Dashboard" heading="2"></app-head>
    </div>
    <div class="body-modulo custom-box-overview">
      <div class="box-overview-component">
        <ion-icon aria-hidden="true" name="git-merge-outline" slot="start"></ion-icon>
        <span class="text-primary">16</span>
        <span class="text-secondary">Total Categories</span>
        <ion-button class="bt-io size-s txt-sz-s expand-content">Ver todas</ion-button>
      </div>
      <div class="box-overview-component">
        <ion-icon aria-hidden="true" name="bookmarks-outline" slot="start"></ion-icon>
        <span class="text-primary">43</span>
        <span class="text-secondary">Total Products</span>
        <ion-button class="bt-io size-s txt-sz-s expand-content">Manage</ion-button>
      </div>
      <div class="box-overview-component">
        <ion-icon aria-hidden="true" name="analitys-outline" slot="start"></ion-icon>
        <span class="text-primary">16</span>
        <span class="text-secondary">Recent updates</span>
        <ion-button class="bt-io size-s txt-sz-s expand-content">Details</ion-button>
      </div>
    </div>
  </div>
  <!-- #Activity -->
  <div class="modulo">
    <div class="head-modulo">
      <app-head title="Actividad reciente" heading="3"></app-head>
    </div>
    <div class="body-modulo">
      <ion-list>
        <ion-item>
          <ion-icon aria-hidden="true" name="airplane" slot="start"></ion-icon>
          <ion-label>Electronics category update</ion-label>
          <ion-label>Admin-user</ion-label>
          <ion-label slot="end">just now</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="wifi" slot="start"></ion-icon>
          <ion-label>Wi-Fi</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="bluetooth" slot="start"></ion-icon>
          <ion-label>Bluetooth</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="call" slot="start"></ion-icon>
          <ion-label>Cellular</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <!-- #Category overview -->
  <div class="modulo">
    <div class="head-modulo">
      <app-head title="Category overview" heading="3"></app-head>
    </div>
    <div class="body-modulo">
      <ion-list>
        <ion-item>
          <ion-icon aria-hidden="true" name="airplane" slot="start"></ion-icon>
          <ion-label>Electronics</ion-label>
          <ion-label>16 subcategories</ion-label>
          <ion-label slot="end">Active</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="wifi" slot="start"></ion-icon>
          <ion-label>Wi-Fi</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="bluetooth" slot="start"></ion-icon>
          <ion-label>Bluetooth</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="call" slot="start"></ion-icon>
          <ion-label>Cellular</ion-label>
        </ion-item>
      </ion-list>
      <div class="buttons-section-common button-inline">
        <ion-button class="bt-io size-m txt-sz-m expand-content">add new category</ion-button>
        <ion-button class="bt-io fill-outline-primary size-m txt-sz-m  expand-content">View all categories</ion-button>
      </div>
    </div>
  </div>
</div>