<div class="container pdd-x-2 pdd-y-2 gap-3">
  <app-head class="title-container" title="Nuevo Nodo" subtitle="Subcategorias"></app-head>
  <!-- #Breadcrumbs -->
  <!--// <div class="modulo">
    <div class="head-modulo">
      <app-head title="Tree View Hierarchy" heading="3"></app-head>
    </div>
    <div class="body-modulo">
      <ion-breadcrumbs>
        <ion-breadcrumb href="#home">Home</ion-breadcrumb>
        <ion-breadcrumb href="#electronics">Electronics</ion-breadcrumb>
        <ion-breadcrumb href="#cameras">Cameras</ion-breadcrumb>
        <ion-breadcrumb>Film</ion-breadcrumb>
        <ion-breadcrumb href="#home">Home</ion-breadcrumb>
        <ion-breadcrumb href="#electronics">Electronics</ion-breadcrumb>
        <ion-breadcrumb href="#cameras">Cameras</ion-breadcrumb>
        <ion-breadcrumb>Film</ion-breadcrumb>
        <ion-breadcrumb href="#home">Home</ion-breadcrumb>
        <ion-breadcrumb href="#electronics">Electronics</ion-breadcrumb>
        <ion-breadcrumb href="#cameras">Cameras</ion-breadcrumb>
        <ion-breadcrumb>Film</ion-breadcrumb>
        <ion-breadcrumb href="#home">Home</ion-breadcrumb>
        <ion-breadcrumb href="#electronics">Electronics</ion-breadcrumb>
        <ion-breadcrumb href="#cameras">Cameras</ion-breadcrumb>
        <ion-breadcrumb>Film</ion-breadcrumb>
      </ion-breadcrumbs>
    </div>
  </div> -->
  <!-- #tree-parents -->
  <!--// <div class="modulo">
    <div class="head-modulo">
      <app-head title="Parents Nodes" heading="3"></app-head>
    </div>
    <div class="body-modulo">
      <ion-list>
        <ion-item>
          <ion-icon aria-hidden="true" name="bookmark-outline" slot="start"></ion-icon>
          <ion-label>
            Tecnologia
          </ion-label>
          <ion-label>
            <p>Parent Root</p>
          </ion-label>
          <ion-button class="bt-icon size-s fill-clear" sloe="end">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="git-commit-outline" slot="start"></ion-icon>
          <ion-label>
            Computers
          </ion-label>
          <ion-label>
            <p>Parent Node: nivel 4</p>
          </ion-label>
          <ion-button class="bt-icon size-s fill-clear" sloe="end">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div> -->
  <!-- #Form -->
  <form class="form-io custom-form-io" [formGroup]="formData" (ngSubmit)="onSubmit(formData)">
    <div class="modulo">
      <div class="head-modulo">
        <app-head title="Informacion Basica" heading="3"></app-head>
      </div>
      <div class="body-modulo">
        <div class="inputs-group">
          <div class="wrapper-input">
            <label class="title">Identificador</label>
            <div class="input-component fill-solid size-xl  label-static ">
              <input type="text" formControlName="id">
            </div>
          </div>
          <div class="wrapper-input">
            <label class="title">Nombre</label>
            <div class="input-component fill-solid size-xl  label-static ">
              <input type="text" formControlName="name">
            </div>
          </div>
          <!--// <div class="wrapper-input">
            <label class="title">Parent Category</label>
            <div class="input-component fill-solid size-xl  label-static ">
              <ion-select label="" placeholder="Parent">
                <ion-select-option value="apple">Apple</ion-select-option>
                <ion-select-option value="banana">Banana</ion-select-option>
                <ion-select-option value="orange">Orange</ion-select-option>
              </ion-select>
            </div>
          </div> -->
          <div class="wrapper-input">
            <label class="title">Descripción</label>
            <div class="input-component fill-solid">
              <textarea class="fill-solid" name="comentarios" rows="4" cols="50"
                formControlName="description"></textarea>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- #category settings -->
    <div class="modulo">
      <div class="head-modulo">
        <app-head title="Category Settings" heading="3"></app-head>
      </div>
      <div class="body-modulo">
        <ion-list lines="none">
          <!--// <ion-item button>
            <ion-icon class="icon-primary" aria-hidden="true" name="apps-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>Category Icon</h3>
              <p>Choosen an icon for this category</p>
            </ion-label>
            <ion-icon aria-hidden="true" name="pencil-outline" slot="end"></ion-icon>
          </ion-item> -->
          <ion-item>
            <ion-icon class="icon-primary" aria-hidden="true" name="toggle-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>Active Status</h3>
              <p>Category will be visible to users</p>
            </ion-label>
            <ion-toggle [checked]="formData.get('status')?.value" slot="end" (ionChange)="onChange($event, 'status')"> </ion-toggle>
          </ion-item>
          <ion-item>
            <ion-icon class="icon-primary" aria-hidden="true" name="add-circle-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>Attributes</h3>
              <p>Add attributes to node(subcategory)</p>
            </ion-label>
            <ion-toggle [checked]="attributeFlag" (ionChange)="onChange($event, 'attribute')" slot="end"></ion-toggle>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <!-- #attributes -->
    <div class="modulo custom-modulo-attribute" *ngIf="attributeFlag">
      <div class="head-modulo">
        <app-head title="Select Attributes" heading="2"></app-head>
      </div>
      <div class="body-modulo">
        <!-- <app-defined-attributes></app-defined-attributes> -->
        <div class="segment-section">
          <ion-segment class="segment expand-full" value="default">
            <ion-segment-button value="default" content-id="definedAttr">
              <ion-label> Predefined Attributes</ion-label>
            </ion-segment-button>
            <ion-segment-button value="active" content-id="customAttr">
              <ion-label>Create Attribute</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <div class="segment-content">
          <ion-segment-view>
            <ion-segment-content
              id="definedAttr"><app-defined-attributes></app-defined-attributes></ion-segment-content>
            <ion-segment-content id="customAttr"><app-custom-attributes></app-custom-attributes></ion-segment-content>
          </ion-segment-view>
        </div>
      </div>
    </div>
    <!-- #buttons -->
    <div class="modulo">
      <div class="body-modulo">
        <div class="buttons-section-common button-double">
          <div class="wrapper-buttons">
            <ion-button class="bt-io fill-outline-primary size-m txt-sz-m  expand-content">Cancel</ion-button>
            <ion-button type="submit" class="bt-io size-m txt-sz-m expand-content">Agregar Nodo</ion-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- {{formData.value | json}} -->