@use "/src/assets/scss/mixin" as mixin;
//#region Container
.container {
  // &.custom-container-center {
    background: #cecece;
  //   position: relative;
    // height: calc(100vh - 4rem);
    min-height:100vh;
  // }
}

.title-container {
  margin: auto;
  width: 100%;
  max-width: 720px;
}
//#endregion
//#region Modulo - customs (head-body-footer)
.modulo {
  background: rgb(255, 255, 255);
  margin: auto;
  width: 100%;
  max-width: 720px;
  padding:0.625rem 1.25rem;
  border-radius:15px;
  min-height:80%;
  &.custom-modulo-center {
    // background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .head-modulo {
    padding: 1.25rem 0;
  }
  .body-modulo {
    &.custom-box-overview {
      //*box-overview-component
      display: grid;
      grid-template-columns: repeat(3, 15rem);
      column-gap: 0.625rem;
    }
    &.custom-search-button {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      // margin-top:1.25rem;
      align-items: center;
    }
    &.custom-margin-bottom {
      margin-bottom: 0.625rem;
    }
  }
}
//#endregion
//#region Sections-commons custom
.buttons-section-common {
  // padding: 0.625rem 0;
  padding: 1.25rem 0;
  span {
    @include mixin.font-standar($color: gray, $fs: 0.8rem);
  }
}
//#endregion
//#region Components
//cajas de vista generales
.box-overview-component {
  background: #e8e5ff;
  opacity: 1;
  border-radius: 30px;
  height: 12rem;
  // width: 15rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  // gap: 0.625rem;
  gap: 0.3125rem;
  justify-items: flex-start;
  padding: 1.25rem;
  ion-icon {
    background: #cfc8ff;
    color: #634aff;
    border-radius: 100%;
    padding: 10px;
  }
  .text-main {
    @include mixin.font-title($fs: 1rem, $fw: 600);
  }
  .text-primary {
    @include mixin.font-title($fs: 0.85rem, $fw: 500);
  }
  .text-secondary {
    @include mixin.font-standar($color: gray, $fs: 0.8rem);
  }
  &.custom-box-empty {
    height: 16rem;
    width: 17rem;
    justify-items: center;
    margin: auto;
    font-size: 4rem;
  }
  &.custom-box-noData {
    background: none;
    height: min-content;
    width: 17rem;
    margin: auto;
    font-size: 2rem;
    justify-items: center;
    ion-icon {
      background: none;
      color: #bebebe;
      border-radius: 100%;
      padding: 10px;
    }
    .text-primary {
      color: #bebebe;
    }
  }
}
//listas items
ion-list {
  ion-item {
    .icon-primary {
      background: #cfc8ff;
      color: #634aff;
      padding: 10px;
      font-size: 16px;
      border-radius: 8px;
    }
    ion-label {
      @include mixin.font-standar;
      p {
        @include mixin.font-standar($fs: 0.8rem, $color: gray);
      }
    }
  }
}
// formularios form-io
.custom-form-io {
  margin: auto;
  width: 100%;
  max-width: 720px;
  .inputs-group {
    gap: 1.25rem;
    .wrapper-inputs-group {
      &.inline {
        display: flex;
        // grid-template-columns: auto 1fr;
        & > * {
          margin-right: 0.625rem;
          // flex:1;
        }
      }
      .wrapper-input {
        &.expand {
          &-full {
           flex:1;
          }
          &-regular {
            width: 20%;
          }
        }
      }
    }
    .wrapper-input {
      .title {
        @include mixin.font-standar;
      }
      .input-component {
        margin-top: 0.625rem;
      }
      ion-select {
        width: 100%;
        background: var(--gray-i);
        border-color: var(--gray-i);
        height: 3.5rem;
        padding: 0 0.625rem;
        @include mixin.font-standar;
        ion-label {
          background: #000;
          @include mixin.font-standar;
        }
      }
    }
  }
}
//ion-segment
ion-segment,
.segment {
  // background: rgb(255, 199, 199);
  width: min-content;
  &.expand-full {
    width: fit-content;
  }
  ion-segment-button {
    // background: violet;
    ion-label {
      // background: green;
      text-transform: none;
      // @include mixin.font-standar();
    }
  }
}
ion-segment-view {
  padding: 2rem 0 0.625rem 0;
}
//breadcrumbs
ion-breadcrumbs {
  // background: red;
  ion-breadcrumb {
    // background: violet;
    // @include mixin.font-standar($fs:0.85rem);
    font-size: 0.85rem;
    // padding:unset;
    // margin:unset;
    // --color: rgb(81, 155, 198);
    --color-active: var(--ion-color-primary);
    --color-hover: var(--ion-color-primary);
  }
}
//Search
.search-section {
  width: 15rem;
  .input-component {
    input {
      border-radius: 30px;
    }
  }
}
//button- custom
ion-button {
  --border-radius: 10px;
  &.custom-button-primary {
    --background: #634aff;
    // --border-radius: 10px;
  }

  &.custom-button-secondary {
    --color: #634aff;
    --background: #cfc8ff;
  }
  &.custom-button-third {
    border: 2px solid #634aff;
    --background: transparent;
    --color: #634aff;
  }
}

//#endregion
