<div class="container pdd-x-2 pdd-y-2 gap-3">
  <ng-container *ngIf="data; else available">
  <app-head class="title-container" title="Dashboard" heading="2"></app-head>
    <!-- #Overview -->
    <div class="modulo">
      <div class="body-modulo custom-box-overview">
        <div class="box-overview-component">
          <ion-icon aria-hidden="true" name="git-merge-outline" slot="start"></ion-icon>
          <span class="text-primary">{{totalRows}}</span>
          <span class="text-secondary">Total Categories</span>
          <ion-button class="bt-io size-s txt-sz-s expand-content">Ver todas</ion-button>
        </div>
        <div class="box-overview-component">
          <ion-icon aria-hidden="true" name="bookmarks-outline" slot="start"></ion-icon>
          <span class="text-primary">43</span>
          <span class="text-secondary">Total Products</span>
          <ion-button class="bt-io size-s txt-sz-s expand-content">Actualizar</ion-button>
        </div>
        <div class="box-overview-component">
          <ion-icon aria-hidden="true" name="cloud-outline" slot="start"></ion-icon>
          <span class="text-primary">16</span>
          <span class="text-secondary">Recent updates</span>
          <ion-button class="bt-io size-s txt-sz-s expand-content">Details</ion-button>
        </div>
      </div>
    </div>
    <!-- #Activity -->
    <div class="modulo">
      <div class="head-modulo">
        <app-head title="Actividad reciente" heading="3"></app-head>
      </div>
      <div class="body-modulo">
        <ion-list *ngFor="let item of lastUpdate">
          <ion-item>
            <ion-icon aria-hidden="true" name="add-circle-outline" slot="start"></ion-icon>
            <ion-label>{{item.value.label}}:{{item.value.update.type}} </ion-label>
            <ion-label>{{item.value.update.user}}</ion-label>
            <ion-label slot="end">{{item.value.update.date}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <!-- #Category overview -->
    <div class="modulo">
      <div class="head-modulo">
        <app-head title="Category overview" heading="3"></app-head>
      </div>
      <div class="body-modulo">
        <ion-list *ngFor="let item of data">
          <ion-item>
            <ion-icon aria-hidden="true" [name]="item.value.icon" slot="start"></ion-icon>
            <ion-label>{{item.value.label}}</ion-label>
            <ion-label>{{item.value.nodes ? item.value.nodes + 'nodes' : 'no nodes'}} </ion-label>
            <ion-label>{{item.value.status ? 'Active' : 'NoActive'}}</ion-label>
            <ion-button (click)="onCategory(item.value.id)" class="bt-icon fill-clear size-s" slot="end">
              <ion-icon aria-hidden="true" name="eye-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <!-- #buttons -->
    <div class="modulo">
      <div class="body-modulo">
        <div class="buttons-section-common button-double">
          <div class="wrapper-buttons">
            <ion-button class="bt-io fill-outline-primary size-m txt-sz-m  expand-content">View all
              categories</ion-button>
            <ion-button class="bt-io size-m txt-sz-m expand-content">add new category</ion-button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<!-- #no data -->
<ng-template #available>
<div class="modulo custom-modulo-center">
  <div class="body-modulo">
    <div class="box-overview-component custom-box-empty">
      <ion-icon aria-hidden="true" name="alert-circle-outline"></ion-icon>
      <span class="text-primary">Aun No Hay Categorias</span>
      <span class="text-secondary">¿Deseas crear una categoria?</span>
      <ion-button class="bt-io size-m txt-sz-m expand-content">Crear Categoria</ion-button>
    </div>
  </div>
</div>
</ng-template>